# The log level for the application
# Possible values: debug, info, warn, error
LOG_LEVEL="debug"

# The name of the application instance (e.g., displayed in logs or UI)
APP_NAME="SQLer"

# The host address on which the HTTP server will listen
# Default: 127.0.0.1
HTTP_SERVER_HOST="0.0.0.0"

# The port number on which the HTTP server will listen for incoming connections
# Default: 3000
HTTP_SERVER_PORT=3000

# The Data Source Name (DSN) for connecting to the PostgreSQL database
# Format: postgresql://<username>:<password>@<host>:<port>/<database_name>?<options>
# - username: The database user.
# - password: The password for the database user (optional, depending on the database setup).
# - host: The database server's hostname or IP address.
# - port: The port number the database server is listening on.
# - database_name: The name of the database to connect to.
# - options: Additional query parameters for database configuration (optional).
# Example with options: "postgresql://user:password@localhost:5432/mydb?sslmode=disable"
DATABASE_DSN="postgresql://postgres:password@localhost:5432/sqler"
